<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <style type="text/css">
    body{
    text-align:center;
    font-family:helvetica,arial;
    font-size: 22px;
    color:#888;
    margin: 200px;
  }
    #c {
      margin: 0 auto;
      width: 500px;
      text-align: left;
    }
  </style>
  <body>
    <h1> Buster's Best Bowling Alley</h1>
    <h2> Bet You Can't Bowl A Strike Every Time</h2>
    <h2>Sinatra Doesn&rsquo;t know this ditty.</h2>
    <img src="http://example.org/__sinatra__/404.pgn" alt="">
    <div class="c">
      Try this:
      <pre># in app.rb
      class app
      get &#x27;&#x2F;&#x27; <!DOCTYPE html>
      &quot;Hello World&quot;
      end
      end
      </pre>
    </div>
    <p> 97 Bowling Alley Lane, Boulder CO </p>
  </body>
</html>
